@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  background-color: #02012C !important;
  font-family: "DM Sans", sans-serif !important;
  color: #fff !important;
  max-width: 1280px !important;
  margin: 0 auto !important;
  width: 100% !important;
}